In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('../../../data/wine-ratings.csv',index_col=0)
df.head()

,name,grape,region,variety,rating,notes
0,1000 Stories Bourbon Barrel Aged Batch Blue Ca...,NaN,"Mendocino, California",Red Wine,91.0,"This is a very special, limited release of 100..."
1,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,89.0,The California Gold Rush was a period of coura...
2,1000 Stories Bourbon Barrel Aged Gold Rush Red...,NaN,California,Red Wine,90.0,The California Gold Rush was a period of coura...
3,1000 Stories Bourbon Barrel Aged Zinfandel 2013,NaN,"North Coast, California",Red Wine,91.0,"The wine has a deep, rich purple color. An int..."
4,1000 Stories Bourbon Barrel Aged Zinfandel 2014,NaN,California,Red Wine,90.0,Batch #004 is the first release of the 2014 vi...

In [8]:
df.notes.head()

0    This is a very special, limited release of 100...
1    The California Gold Rush was a period of coura...
2    The California Gold Rush was a period of coura...
3    The wine has a deep, rich purple color. An int...
4    Batch #004 is the first release of the 2014 vi...
Name: notes, dtype: object

In [13]:
name_rating=df[["name","rating"]]
name_rating.head()

                                                name  rating
0  1000 Stories Bourbon Barrel Aged Batch Blue Ca...    91.0
1  1000 Stories Bourbon Barrel Aged Gold Rush Red...    89.0
2  1000 Stories Bourbon Barrel Aged Gold Rush Red...    90.0
3    1000 Stories Bourbon Barrel Aged Zinfandel 2013    91.0
4    1000 Stories Bourbon Barrel Aged Zinfandel 2014    90.0

In [19]:
top_name_rating= name_rating[df["rating"]>60]
top_name_rating.sort_values(by= df.rating.name ,ascending=True).head()

                                                    name  rating
5508               Bodegas Montecillo Crianza Tinto 1998    85.0
23298  Forest Glen Barrel Select Merlot (half-bottle)...    85.0
21337                         Eola Hills Pinot Noir 1997    85.0
6926                  Bridgeview Reserve Pinot Noir 1998    85.0
30052  Kenwood Jack London Vineyard Cabernet Sauvigno...    85.0

In [21]:
df.query("rating >96").head()

,name,grape,region,variety,rating,notes
218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
220,Abreu Vineyards Howell Mountain 2009,NaN,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."
221,Abreu Vineyards Las Posadas Howell Mountain 2012,NaN,"Howell Mountain, Napa Valley, California",Red Wine,99.0,"At about 2000 feet elevation, Las Posadas sits..."
223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...

In [25]:
df.query("rating >96 & region=='Napa Valley, California'").head()

,name,grape,region,variety,rating,notes
218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
229,Abreu Vineyards Thorevilos 2009,NaN,"Napa Valley, California",Red Wine,98.0,The blend for this cuvee is generally an intri...
230,Abreu Vineyards Thorevilos 2012,NaN,"Napa Valley, California",Red Wine,99.0,"Sitting 800 feet above the valley floor, wedge..."

In [26]:
df.query("rating >96 & region.str.contains('Napa Valley',na=False)").head()

,name,grape,region,variety,rating,notes
218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
220,Abreu Vineyards Howell Mountain 2009,NaN,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."
221,Abreu Vineyards Las Posadas Howell Mountain 2012,NaN,"Howell Mountain, Napa Valley, California",Red Wine,99.0,"At about 2000 feet elevation, Las Posadas sits..."
223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...

In [29]:
df.query("rating >96 & name.str.contains('Abreu Vineyards',na=False)").head(10)

,name,grape,region,variety,rating,notes
218,Abreu Vineyards Cappella 2010,NaN,"Napa Valley, California",Red Wine,98.0,Cappella is one of the oldest vineyard sites i...
220,Abreu Vineyards Howell Mountain 2009,NaN,"Howell Mountain, Napa Valley, California",Red Wine,98.0,"As a set of wines, it is hard to surpass the f..."
221,Abreu Vineyards Las Posadas Howell Mountain 2012,NaN,"Howell Mountain, Napa Valley, California",Red Wine,99.0,"At about 2000 feet elevation, Las Posadas sits..."
223,Abreu Vineyards Madrona Ranch 1996,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
227,Abreu Vineyards Madrona Ranch 2005,NaN,"Napa Valley, California",Red Wine,98.0,Abreu Madrona Ranch is a blend of Cabernet Sau...
229,Abreu Vineyards Thorevilos 2009,NaN,"Napa Valley, California",Red Wine,98.0,The blend for this cuvee is generally an intri...
230,Abreu Vineyards Thorevilos 2012,NaN,"Napa Valley, California",Red Wine,99.0,"Sitting 800 feet above the valley floor, wedge..."
231,Abreu Vineyards Thorevilos 2014,NaN,"Napa Valley, California",Red Wine,97.0,"Sitting 800 feet above the valley floor, wedge..."
233,Abreu Vineyards Thorevilos 2015,NaN,"Napa Valley, California",Red Wine,97.0,Thorevilos was one of David's favorite haunts ...